apiVersion: v1
kind: Pod
metadata:
  name: electromon-pod
  labels:
    type: pod
    session: {{ session_id }}
  namespace: {{ formatted_github_user_id }}
spec:
  containers:
    - name: electromon-container
      image: nginx
      command:
        - "/bin/sh"
        - "-c"
        - "sleeeep 10000"
      resources:
        requests:
          cpu: 50m
          memory: 64Mi
        limits:
          cpu: 100m
          memory: 128Mi
