apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: network-policy-{{ formatted_github_user_id }}
  namespace: {{ formatted_github_user_id }}
  labels:
    session: {{ session_id }}
spec:
  podSelector: {}
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - podSelector: {}
  egress:
    - to:
        - podSelector: {}